In [1]:
# Import all packages and authentification details

# packages lists
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import tweepy
import pandas as pd
import numpy as np
import time
import pprint
import json
import matplotlib 
import matplotlib.pyplot as plt
import seaborn
from config import (consumer_key, consumer_secret,
                    access_token, access_token_secret)

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [2]:
# Target da boys User Accounts

target_users = [ "hunglikeahorse7",
"P_Reed002",
"joe_scotia"]

In [14]:
# THIS CELL WILL GRAB THE "", "", AND "" VALUES AND PUT THEM INTO THE LISTS MADE IN THE PREVIOUS CELL 

#pretty print
#pp = pprint.PrettyPrinter(indent=4)

#create the dictionary that we will put our columns (as lists) in
counter = 0 

tweet_data = {"twt_source": [],
             "twt_text": [],
             "twt_date": []}

#second for loop, basically will loop through the different news sources
for users in target_users:
    
    
    # Loop through 5 pages of tweets (total 100 tweets per target user)
    for x in range(0, 35):
        public_tweets = api.user_timeline(users, page=x)
        
        #another for loop
        for tweet in public_tweets:
            tweet_data["twt_source"].append(tweet["user"]["name"])  
            tweet_data["twt_text"].append(tweet["text"])            
            tweet_data["twt_date"].append(tweet["created_at"])  

            counter = counter + 1

In [15]:
# put the dictionary into a data frame
tweet_data_df = pd.DataFrame.from_dict(tweet_data)
tweet_data_df["twt_source"].unique()

tweet_data_df.head()

,twt_source,twt_text,twt_date
0,Chad Jameson,@joe_scotia https://t.co/L70R2mPoVy,Wed Oct 17 13:23:09 +0000 2018
1,Chad Jameson,@joe_scotia @P_Reed002 I didn't vote. https://...,Thu Oct 04 03:28:31 +0000 2018
2,Chad Jameson,And to think we kept carlson over forbath,Sun Sep 16 20:26:55 +0000 2018
3,Chad Jameson,And to think we kept treadwell over jarius wri...,Sun Sep 16 19:55:49 +0000 2018
4,Chad Jameson,RT @PretendLouHoltz: Rutgersh vershus Kanshas ...,Sun Sep 16 04:40:10 +0000 2018

In [16]:
# how many rows of data are we working with?
tweet_data_df.count()

twt_source    2038
twt_text      2038
twt_date      2038
dtype: int64

In [28]:
# group by twt_source and find the most common word texted
pd.Series(' '.join(tweet_data_df['twt_text']).lower().split()).value_counts()[450:500]

phone              6
called             6
league             6
thank              6
pro                6
@uwecblugolds:     6
remember           6
@mimmerb123        6
#blugoldpuck       6
@deoornodeal       6
though.            6
@jeremy_roenick    6
bar                6
place              6
thought            6
month              6
probably           6
almost             6
pass               6
respect            6
qb                 6
making             6
special            6
kick               6
yes                6
decided            6
minutes            6
lost               6
awful              6
leave              6
youre              6
wearing            6
definitely         6
both               6
jon                6
@juecoo            6
left               6
u                  6
‼️                 6
even               6
wonder             6
bowl               6
whole              6
1st                6
sports             6
series             6
terrible           6
@buffalosabres:    6
own                6
oh                 6
dtype: int64

In [ ]:
# second plot
second_one = tweet_data_df.groupby(["twt_source"]).mean()["twt_vader"]
pd.DataFrame(second_one)
second_one[0]

# make x and y variables
y_data = [second_one[
x_data = [np.arange(len(second_one)])

#height = np.arange(len[])
# make a bar plot
plt.bar(x_data[0], second_one[0])
plt.bar(x_data[1], y_data)
plt.bar(x_data[2], y_data)          
plt.bar(x_data[3], y_data)
plt.bar(x_data[4], y_data)